body {
  background-color: #F2F1F1;
  text-align: center;
}

.orderStatus {
  border: solid black 1px;
  margin: auto;
}

.checkout {
  display: none;
  text-align: center;
}

#toppingsError {
  display: none;
}

.thank {
  display: none;
  text-align: center;
}

.title {
  text-align: center;
  background-color: #8F3737;
  color: white;
}

.orderEntry {
  margin-left: 10%;
  margin-right: 10%;
  transition: 1s;
}

.orderEntry:hover {
  transition: 1s;
  border: solid darkgray 1px;
}

#pizza-crust {
  height: 200px;
}

#toppingsImg {
  height: 200px;
}

.crustSize {
  transition: 1s;
}

.crustSize:hover {
  transition: 1s;
  background-color: #ED213A; /*#93291E*/
  border: solid black 1px;
}

.toppingsPicks {
  transition: 1s;
}

.toppingsPicks:hover {
  transition: 1s;
  background-color: #56CCF2; /* #2F80ED*/
  border: solid black 1px;
}
