body {
  background-color: #F2F1F1;
  text-align: center;
}

input {
  max-width: 10rem;
  text-align:center;
  display:block;
  margin:auto;
}

.orderStatus {
  margin: auto;
  transition: 1s;
}

.orderStatus:hover {
  transition: 1s;
  border: solid black 1px;
  background-color: lightgray;
}

.checkout {
  display: none;
  text-align: center;
}

#toppingsError {
  display: none;
}

#emptyOrder {
  display: none;
}

.thank {
  display: none;
  text-align: center;
}

.title {
  text-align: center;
  background-color: #8F3737;
  color: white;
}

.orderEntry {
  margin-left: 10%;
  margin-right: 10%;
  transition: 1s;
}

.orderEntry:hover {
  transition: 1s;
  border: solid black 1px;
  background-color: #E4E5E6;
}

#pizza-crust {
  height: 200px;
}

#toppingsImg {
  height: 200px;
}

.crustSize {
  transition: 1s;
}

.crustSize:hover {
  transition: 1s;
  background-color: #8F3737; /*#93291E*/
  border: solid black 1px;
  color: white;
}

.toppingsPicks {
  transition: 1s;
}

.toppingsPicks:hover {
  transition: 1s;
  background-color: #8F3737; /* #2F80ED*/
  border: solid black 1px;
  color: white;
}
